user_id = 5297672056
user_token = "5297672056:aaTbBcNd-aaVbxCcdd-aaFbccDt-aFDv"
user_name = "My_bot_name_bot"
gmaps_token = "5297672056:aaTbBcNd-aaVbxCcdd-aaFbccDt-aFDv"

commands = [
        "/help",
        "/feedback",
        "/message",
        "/start",
    ]
descriptions = [
        "Returns this text, that helps users with commands",
        "Send a feedback message\. Use only for *important* messages",
        "Send a regular message\. Use for non\-important messages",
        "Reactivate a bot",
    ]
token = user_token
owner = user_name
owner_id = owner_id

bot_data = commands, descriptions, token, owner, owner_id
